.horizontal-card-bg-img {
  width: 180px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.card-img {
  width: inherit;
}

.horizontal-card-btn-container {
  width: 140px;
}

#root > div > div.page > div.content > div:nth-child(4) > ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  position: fixed;
  bottom: 1.5rem;
  left: 43%;
  border-radius: 35px;
}

#root > div > div.page > div.content > div:nth-child(4) > ul > li {
  float: left;
  border: none;
  /* margin-left: 50%; */
}

#root > div > div.page > div.content > div:nth-child(4) > ul > li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

#root > div > div.page > div.content > div:nth-child(4) > ul > li a:hover {
  background-color: #111111;
}
